<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% load socialaccount %}

<script src="//accounts.google.com/gsi/client" async></script>
<h2>Log In</h2>
<section id="app" class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body mx-md-4">
                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                <form method="post" action="{% url 'login' %}" >
                  {% csrf_token %}
                  <p>Please login to your account</p>
                  {{ form }}
                  <div class="text-center pt-1 mb-3 pb-1 d-flex">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-1 flex-grow-1" type="submit" style="flex: 1;">Log
                      in</button>
                    <a  class="text-muted flex-grow-1" href="#!" style="flex:1 ;">Forgot password?</a>

                    
                  </div>
                  <div class="text-center mb-5 pb-1 d-flex justify-content-around">
                    <button id="facebookSignInButton" class="mb-3 d-flex" onclick="location.href='{% provider_login_url 'facebook' %}'" style="
                        display: inline-block;
                        background: #3b5998;
                        color: white;
                        width: 150px;
                        height: 46px;
                        border-radius: 2px;
                        box-shadow: 0px 2px 4px 1px rgba(0,0,0,.25);
                        transition: background-color .218s, border-color .218s, box-shadow .218s;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: 'Roboto',arial,sans-serif;
                    ">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg" style="
                            width: 18px;
                            height: 18px;
                            margin-right: 24px;
                            float: left;
                            margin-top: 7px;
                            /* margin-top: 11px; */
                        ">
                        <span style="display: inline-block; line-height: 19px; vertical-align: top;">Sign in with Facebook</span>
                    </button>
                    {% csrf_token %}
                    <button class="d-flex" id="googleSignInButton" onclick="location.href='{% provider_login_url 'google' %}'" style="
                        display: inline-block;
                        background: white;
                        color: #757575;
                        width: 150px;
                        height: 46px;
                        border-radius: 2px;
                        box-shadow: 0px 2px 4px 1px rgba(0,0,0,.25);
                        transition: background-color .218s, border-color .218s, box-shadow .218s;
                        font-size: 14px;
                        font-weight: 500;
                        font-family: 'Roboto',arial,sans-serif;
                    ">
                    <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" style="
                      width: 18px;
                      height: 18px;
                      margin-right: 24px;
                      float: left;
                      margin-top: 11px;

                    ">
                        <span style="display: inline-block; line-height: 20px; vertical-align: top;">Sign in with Google</span>
                    </button>
                  </div>


                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>

</section>
<script>
  new Vue({
    el: '#app',
    data: {
      username: '',
      password: '',
    },
    methods: {
      submitForm() {
        axios.post(baseUrl + '/api/token', {
          username: this.username,
          password: this.password,
        })
        .then(response => {
          this.username = '';
          this.password = '';
          // cookies.set('token', response.data.access, { path: '/', expires: 1/60 }); // Set cookie to expire in 1 minute
          showAlert('success', 'Success!', 'You login successfully!');
        })
        .catch(error => {
          showAlert('error', 'Oops...', 'username or password is not correct');
          console.log('error', error)
        });
      }
    }
  });
function redirectSocialLogin(social, idButton){
  document.getElementById(idButton).addEventListener('click', function() {
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '/accounts/'+social+'/login/';
    // add token
    var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    var csrfInput = document.createElement('input');
    csrfInput.type = 'hidden';
    csrfInput.name = 'csrfmiddlewaretoken';
    csrfInput.value = csrfToken;
    form.appendChild(csrfInput);
    
    document.body.appendChild(form);
    form.submit();
  });
}
redirectSocialLogin('google', 'googleSignInButton')
redirectSocialLogin('facebook', 'facebookSignInButton')

</script>
{% endblock %}