<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2 class="mt-4">Sign up</h2>
<form id="app" @submit.prevent="submitForm" enctype="multipart/form-data" class="mb-5">
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="username">Username:</label>
      <input v-model="username" type="text" class="form-control" id="username" placeholder="Enter username" required>
    </div>
    <div class="form-group col-md-5 ml-4">
      <label for="email">Email:</label>
      <input v-model="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="pwd">Password:</label>
      <input v-model="password" type="password" class="form-control" id="password" placeholder="Enter password" required>
    </div>
    <div class="form-group col-md-5 ml-4">
      <label for="pwd-confirm">Confirm Password:</label>
      <input v-model="passwordConfirm" type="password" class="form-control" id="password-confirm" placeholder="Confirm password" required>
    </div>
  </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="pwd">avatar:</label>
        <input @change="onFileChange" type="file" class="form-control" id="avatar" placeholder="Enter avatar" required>
        <img v-if="image" :src="image" alt="Image preview" class="img-thumbnail" width="150px"/>
      </div>
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  new Vue({
    el: '#app',
    data: {
      username: '',
      password: '',
      passwordConfirm: '',
      email: '',
      avatar: '',
      image: null,  // New data property for the image preview
    },
    methods: {
      onFileChange(e) {
        const file = e.target.files[0];
        this.avatar = file;
        this.image = URL.createObjectURL(file);
      },
      submitForm() {
        if(this.password !== this.passwordConfirm) {
          showAlert('error', 'Oops...', 'Please enter the same password!');
          return;
        }
        let formData = new FormData();
        formData.append('username', this.username);
        formData.append('password', this.password);
        formData.append('email', this.email);
        formData.append('image', this.avatar);

        axios.post(baseUrl + '/accounts/api/signup/', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
        .then(response => {
          this.username = '';
          this.password = '';
          this.passwordConfirm = '';
          this.email = '';
          this.image = null;
          showAlert('success', 'Success!', 'You have registered successfully!');
        })
        .catch(error => {
          if(error.response.data.username){
            showAlert('error', 'Oops...', error.response.data.username[0]);
          }
        });
      }
    }
  });
</script>
{% endblock %}