{% extends "base.html" %} 
{% block title %}Products{% endblock %}
{% block content %}
<div class='col-md-6' style="margin-bottom: 100px;">
  <form method="post" enctype="multipart/form-data">
  <a class="btn btn-success float-left" href="{% url 'product_list' %}">
    <i class="fas fa-arrow-left"></i>
    Back</a> 
  <button type="submit" class="btn btn-primary float-right">
    <i class="fas fa-save"></i>
    {% if form.instance.pk %} Update {% else %}Add {% endif %} product
  </button>
  <div class="clearfix mb-4"></div>
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% for image_form in formset %}
      {% if image_form.instance.pk %}
      <img src="{{ image_form.instance.pic.url }}" width='200px'>
      {{ image_form.DELETE }} Delete
      {% endif %}
      {% endfor %}
      <br /><br />
    <input type="file" name="{{ image_form.pic.name }}" multiple><br /><br />

  </form>
</div>
{% endblock %}