{% extends "base.html" %} 
{% block title %}Products{% endblock %}
{% block content %}
<div class='col-md-6' style="margin-bottom: 100px;">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% for image_form in formset %}
      {% if image_form.instance.pk %}
      <img src="{{ image_form.instance.pic.url }}" width='200px'>
      {{ image_form.DELETE }} Delete
      {% endif %}
      {% endfor %}
      <br /><br />
    <input type="file" name="{{ image_form.pic.name }}" multiple><br /><br />
    <a class="btn btn-success" href="{% url 'product_list' %}">Back</a> 
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-save"></i>
      {% if form.instance.pk %} Update {% else %}Add {% endif %} product</button>
  </form>
</div>
{% endblock %}