<div class="bg-light">
    <div class="container-fluid">
      <div class='d-flex justify-content-between align-items-center' style="height:85px">
        <div class="p-2"><a class="navbar-brand" href="#"><img src="{{user.get_image_url}}" height="90" alt=""></a></div>
        <div class="p-2 text-end">
          <div class="d-inline-block mx-3 compact align-middle">
            <span class="fs-3 fontStyle1">Call Us Today</span><br />
            <span class="fs-5 fontStyle2">0898687048</span>
          </div>
          <div class="d-inline-block mx-3 d-none d-lg-inline-block d-md-inline-block d-sm-inline-block">
            {% if user.is_authenticated %}
             <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger pt-2 px-4 compact">Log Out</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="bg-danger fontStyle2">
    <button type="button" data-bs-toggle="collapse" data-bs-target="#bottomNavbar" class="btn btn-danger w-100 d-lg-none d-md-none d-sm-block d-xs-block rounded-0 p-2"><i class="fas fa-bars me-2"></i> Menu</button>
    <div class="collapse navbar-collapse px-2" id="bottomNavbar">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center" id="removeFlex">
          <div class="flex-grow-1">
            <a href="{% url 'home' %}" class="{%if request.path == '/'%} active {%endif%} d-inline-block customNav">Home</a>
            <a href="{% url 'category_list' %}" class="{%if request.path == '/categories/' %} active {%endif%} d-inline-block customNav">Categories</a>
            <a href="{% url 'product_list' %}" class="{%if request.path == '/products/' %} active {%endif%} d-inline-block customNav">Products</a>
            <a href="/admin" class="{%if request.path == '/admin/' %} active {%endif%} d-inline-block customNav">Admin</a>
            <a href="{% url 'signup' %}" class="{%if request.path == '/accounts/signup/' %} active {%endif%} d-inline-block customNav">Signup</a>
          </div>
          <div class="m-3">
            <i class="fas fa-search text-white fs-6"></i>
          </div>
        </div>
      </div>
    </div>
  </div>