{% extends "base.html" %} 
{% block title %}Categories{% endblock %}
{%block content %}
<div class="col-md-6">
  <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <a class="btn btn-success" href="{% url 'category_list' %}">Back</a>
    <button type="submit" class="btn btn-primary">{%if form.instance.pk %} Update {% else %}Add {% endif %} Category</button>
  </form>
</div>
{% endblock %}
