{% extends "base.html" %} 
{% block title %}Categories{% endblock %}
{%block content %}
<div class="col-md-6">
  <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <a class="btn btn-success float-left" href="{% url 'category_list' %}">
      <i class="fas fa-arrow-left"></i>
      Back</a>
    <button type="submit" class="btn btn-primary float-right">
      <i class="fas fa-save"></i>
      {%if form.instance.pk %} Update {% else %}Add {% endif %} Category
    </button> 
    <div class="clearfix mb-4"></div>
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </form>
</div>
{% endblock %}
