<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" />
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
  {% load static %}
  <link href="{%static 'css/style.css' %}" rel="stylesheet" >
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    //general global variables, functions
    let baseUrl = 'http://127.0.0.1:8000';
    function showAlert(icon, title, text) {
      Swal.fire({
        icon: icon,
        title: title,
        text: text
      });
    }
  </script>
</head>

<body>
<header>
{% include 'layout/navbar.html' %}
</header>
<div class="container-fluid" id="app">
  <div class="row">
    <div class="col-md-12">
      {% block content %} {% endblock %}
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 p-0 m-0">
      {% block slider %} {% endblock %}
    </div>
  </div>
</div>
<footer class="fixed-bottom bg-dark text-white text-center p-2">
  <p class="">&copy; 2024 Django</p>
</footer>
</body>
</html>
