<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="chat-messages" class="p-3 mb-2 bg-light text-dark">
    <!-- Chat messages will be added here with JavaScript -->
</div>

<form id="message-form" class="form-inline">
    <input id="message-input" type="text" class="form-control mb-2 mr-sm-2" placeholder="Type a message...">
    <button type="submit" class="btn btn-primary mb-2">Send</button>
</form>


{% endblock %}
{% block scripts %}
<script>
var socket = new WebSocket('ws://127.0.0.1:8000/ws/chat/python/');

// Connection opened
socket.addEventListener('open', function (event) {
    socket.send(JSON.stringify({
        'message': 'Hello Server!'
    }));
});

// Listen for messages
socket.addEventListener('message', function (event) {
    var data = JSON.parse(event.data);
    var messageElement = document.createElement('p');
    messageElement.textContent = data.message;
    document.querySelector('#chat-messages').appendChild(messageElement);
});

// Send a message when the form is submitted
document.querySelector('#message-form').addEventListener('submit', function (event) {
    event.preventDefault();
    var messageInput = document.querySelector('#message-input');
    socket.send(JSON.stringify({
        'message': messageInput.value
    }));
    messageInput.value = '';
});
</script>

{% endblock %}