{% extends "base.html" %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">Chatbox</div>
                    <div id="chat-log" class="card-body" style="height: 300px; overflow-y: scroll;"></div>
                    <div class="card-footer">
                        <div class="input-group">
                            <input class="form-control" placeholder="Enter text here" id="input" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="submit" type="button">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ request.user.username|json_script:"user_username" }}
    {{ chat_box_name|json_script:"room-name" }}
{% endblock %}

{% block scripts %}
<script>
    const user_username = JSON.parse(document.getElementById('user_username').textContent);
    const boxName = 'python';
    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/chat/' +
        boxName +
        '/'
    );

    document.querySelector('#submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': user_username,
        }));
        messageInputDom.value = '';
    };

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const messageElement = document.createElement('div');
        messageElement.classList.add('p-2', 'border-bottom');

        const usernameElement = document.createElement('strong');
        usernameElement.textContent = data.username;
        usernameElement.style.color = 'blue';

        messageElement.appendChild(usernameElement);
        messageElement.appendChild(document.createTextNode(': ' + data.message));

        document.querySelector('#chat-log').appendChild(messageElement);
    }
</script>
{% endblock %}