.fontStyle2 {
    font-family: 'Manrope', sans-serif;
}

.fontStyle1 {
    font-family: 'Anton', sans-serif;
}

.compact {
    line-height: 1.5em
}

a.customNav {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    border-right: 1px solid #e55c69;
    padding: 14px 18px;
}

a.active,
a.customNav:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    border-color: transparent
}

@media screen and (min-width:797px) {
    #bottomNavbar.collapse {
    display: block
    }
}

@media screen and (max-width:796px) {
    #bottomNavbar {
    padding: 14px;
    }

    #bottomNavbar a.customNav {
    display: block !important;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -5px;
    margin-right: -5px;
    }

    #removeFlex {
    display: block !important;
    }
}
.gradient-custom-2 {
    /* fallback for old browsers */
    padding : 13px 0px;
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.chart-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

canvas {
    width: 100%;
    height: auto;
}
.error {
    border: 1px solid red;
}
/* css for list comment on product view page */
#comment .card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#comment .card-body {
    padding: 15px;
}

#comment .card-title {
    font-weight: bold;
    margin-bottom: 0;
}

#comment .card-text {
    color: #000;
    font-size: 14px;
}
#id_password_helptext{
    display: none;
}
