
  <div class="bg-danger fontStyle2 mt-2">
    <button type="button" data-bs-toggle="collapse" data-bs-target="#bottomNavbar" class="btn btn-danger w-100 d-lg-none d-md-none d-sm-block d-xs-block rounded-0 p-2"><i class="fas fa-bars me-2"></i> Menu</button>
    <div class="collapse navbar-collapse px-2" id="bottomNavbar">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center" id="removeFlex">
          <div class="flex-grow-1">
            <a href="{% url 'home' %}" class="{%if request.path == '/'%} active {%endif%} d-inline-block customNav">Home</a>
            <a href="{% url 'category_list' %}" class="{%if 'categories' in request.path %} active {%endif%} d-inline-block customNav">Categories</a>
            <a href="{% url 'product_list' %}" class="{%if 'products' in request.path %} active {%endif%} d-inline-block customNav">Products</a>
            <a href="{% url 'signup' %}" class="{%if 'signup' in request.path %} active {%endif%} d-inline-block customNav">Signup</a>
            <a href="{% url 'reports' %}" class="{%if 'reports' in request.path %} active {%endif%} d-inline-block customNav">Report</a>
            <a href="{% url 'chat' %}" class="{%if 'chat' in request.path %} active {%endif%} d-inline-block customNav">Chat</a>
            <a href="/admin" class="d-inline-block customNav">Admin</a>
          </div>
          <div class="">
            <i class="fas fa-search text-white fs-6"></i>
            {% if user.is_authenticated %}
            <a href="#" class="customNav">Welcome, {{ user.first_name }}  {{user.last_name}}!</a>
                {% if user.socialaccount_set.all.0.extra_data.picture %}
                <a  href="#"> 
                  <img src="{{ user.socialaccount_set.all.0.extra_data.picture }}" alt="{{ user.username }}" class="rounded-circle img-responsive" width="50" height="50">
                  </a>
                {% endif %}
                <form action="{% url 'logout' %}" method="post" class="float-right">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger mt-2 ml-1 compact">Log Out</button>
                </form>
            {%else%}
            <a href="{% url 'login' %}" class="btn btn-danger mt-2 ml-1 compact">Log In</a>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // document.addEventListener('DOMContentLoaded', (event) => {
    //   const token = document.cookie.split('; ').find(row => row.startsWith('token')).split('=')[1];
    //   const authSection = document.getElementById('authSection');

    //   if (token) {
    //     authSection.innerHTML = `
    //       <form action="{% url 'logout' %}" method="post">
    //         {% csrf_token %}
    //         <button type="submit" class="btn btn-outline-danger pt-2 px-4 compact">Log Out</button>
    //       </form>
    //     `;
    //   } else {
    //     authSection.innerHTML = `
    //       <a href="{% url 'login' %}" class="btn btn-outline-danger pt-2 px-4 compact">Log In</a>
    //     `;
    //   }
    // });
  </script>

  <div id="authSection"></div>